.btn {
  padding: .65rem .875rem;
  /* font-weight: 500; */
  font-size: 1.1rem;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  overflow: hidden;
  
  &:hover {
    transform: translateY(-3px);
  }
  &:active {
    transform: translateY(0);
  }
}

/* primario */
.btn-primary {
  border: 2px solid;
  background: linear-gradient(
    to right bottom,
    var(--color-neutral-800),
    var(--color-neutral-700),
    var(--color-neutral-800)
  );
  color: white;
  border-color: var(--color-gray-800);

  &:hover {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.8);
  }

  &:active {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }
  
  &:focus {
    box-shadow: 0 0 0 3px rgba(107, 114, 128, 0.3);
  }

  &:disabled {
    opacity: .5;
    cursor: no-drop;
    transform: translateY(0);
    
    &:hover {
      background-color: var(--color-gray-800);
    }
  }
}

/* secundario */
.btn-secondary {
  background: linear-gradient(
    to right bottom,
    var(--color-neutral-100),
    var(--color-neutral-50),
    var(--color-neutral-100)
    );
  color: var(--color-neutral-600);
  border: 2px solid;
  border-color: var(--color-neutral-200);
  
  &:hover {
    border-color: var(--color-neutral-400);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05), 0 2px 4px -1px rgba(0, 0, 0, 0.03);
  }

  &:active {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }

  &:focus {
    box-shadow: 0 0 0 3px rgba(156, 163, 175, 0.3);
  }
}

.atn-btn {
  width: 32px;
  height: 32px;
  border: 1px solid var(--color-border-medium);
  border-radius: 0.375rem;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  color: var(--color-text-muted);
  border: 1px solid var(--color-neutral-300);

  & svg {
    color: var(--color-neutral-600);
  }

  &:hover {
    background: #fafafa;
    border-color: var(--color-neutral-400);
    transform: translateY(-2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  &:active {
    transform: translateY(0);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
}