@import "tailwindcss";
@import './buttons.css';
@import './forms.css';
@import './notifications.css';
@import './tables.css';

@import '@fontsource/forum';
/* Supports weights 100-900 */
@import '@fontsource-variable/inter';

@theme {
  --font-forum: 'Forum', system-ui;
  --font-inter: 'Inter Variable', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-inter);
  background-color: var(--color-neutral-50);
  color: var(--color-neutral-950);
  padding: 1.5rem;
}
body.print {
  background-color: white;
}
main.main-grid {
  display: grid;
  grid-template-columns: 1.3fr 3fr;
  gap: 1.5rem;
  align-items: start;
  /* height: 100%; */
}
main.main-grid-in-brother {
  display: grid;
  grid-template-columns: 1fr 2fr;
  /* grid-template-columns: 4fr 2fr; */
  gap: 1.5rem;

  grid-template-areas: 
    "form leaders"
    "form alls"
  ;
}
main.main-grid-in-retreats {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.5rem;

  grid-template-areas: 
    "form retreats"
    "details details"
  ;
}

.value, .title {
  font-family: 'Inter Variable', sans-serif;
}

.card-selected {
  border-color: var(--color-sky-600);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.card-section {
  background-color: #ffffff10;
  backdrop-filter: blur(5px);
  border: 2px solid var(--color-neutral-200);
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  /* height: min-content; */
  display: flex;
  flex-direction: column;

}

.message-card {
  min-height: 8rem;
  background-color: var(--color-neutral-100);
  border: 2px dashed var(--color-neutral-200);
  border-radius: 0.75rem;
  text-align: center;
  color: var(--color-neutral-600);
  font-size: 1.25rem;
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  animation: entry-card 300ms ease-in-out;

  /* transition: all 300ms ease-in-out; */
}
.message-card.loading {
  background-color: var(--color-neutral-50);
  border: 2px dashed var(--color-neutral-200);
}

/* animcion de entrada */
.animate-entry {
  animation: entryAnimation 300ms ease forwards;
  opacity: 0;
  transform: translateY(20px);
}

.animate-entry-table {
  animation: entryAnimationTable 500ms ease forwards;
  opacity: 0;
  transform: translateX(30px);
}
.animate-entry-checks {
  animation: entryAnimationChecks 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  opacity: 0;
  transform: scale(0);
}

@keyframes entryAnimationChecks {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes entryAnimation {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes entryAnimationTable {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes entry-card {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.grid-areas-group-leaders {
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
    "corres res cat"
    "corres otros cat"
  ;

  & > div {
    /* background-color: red; */
    padding: .875rem;
    border-radius: .875rem;
    border: 2px solid var(--color-neutral-200) ;
    box-shadow: 0 5px 10px #00000010;
    background-color: var(--color-neutral-100);

    & ul {
      display: flex;
      flex-direction: column;
      gap: .5rem;
    }

    & li {
      padding: .5rem;
      border-radius: 999px;
      border: 1px solid var(--color-neutral-400);
      background-color: var(--color-neutral-50);

      & .content-person {
        display: flex;
        align-items: center;
        gap: .75rem;
        overflow: hidden;
      }

      & .initials {
        background: var(--color-neutral-300);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 9999px;
        width: 2rem;
        aspect-ratio: 1/1;
        border: 1px solid var(--color-neutral-400);
        box-shadow: 0 2px 6px #00000020;
        font-weight: 700;
      }
    }
  }

  & .responsables {
    grid-area: res;
    background-color: var(--color-neutral-700);
    color: white;

    & li{
      background-color: #ffffff20;
      border-color: #ffffff90;

      & .initials {
        background: var(--color-neutral-200);
        color: var(--color-sky-600);
      }
    }
  }
  & .corresponsables {
    grid-area: corres;
  }
  & .otros {
    grid-area: otros;
  }
  & .catequistas {
    grid-area: cat;
  }
}


@media print {
  .no-print {
    display: none;
  }
}