---
import Layout from "@/layouts/Layout.astro";
import FormRetreat from "@/sections/FormRetreat.astro";
import { ViewConvivencias } from "@/components/react/ViewConvivencias";
import InvitedAndConfirmated from "@/sections/InvitedAndConfirmed.astro";
---

<Layout
  title="Convivencias | Comunidad"
  description="Gestión de convivencias en la plataforma de comunidades."
>
  <main class="main-grid-in-retreats">
    <FormRetreat />
    <section class="card-section" transition:name="section-view">
      <header>
        <h2 class="text-2xl font-semibold mb-4">Convivencias</h2>
      </header>
      <ViewConvivencias client:load />
    </section>
    <InvitedAndConfirmated />
  </main>
</Layout>
