---
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="Convivencias | Comunidad"
  description="Gestión de convivencias en la plataforma de comunidades."
>
  <main class="main-grid">
    <h1>Convivencias Page</h1>
  </main>
</Layout>
