---
import Layout from "@/layouts/Layout.astro";
import { ViewParishes } from "@/components/react/ViewParishes";
import FormParish from "@/sections/FormParish.astro";
import ChurchIcon from "@/icons/ChurchIcon.astro";
---

<Layout
	title="Parroquias | Comunidad"
	description="Gestión de parroquias en la plataforma de comunidades."
>
	<main class="main-grid">
		<FormParish />
		<section class="card-section" transition:name="section-view">
			<header>
				<h2 class="text-3xl font-semibold flex items-center gap-2 font-forum">
					<ChurchIcon class="size-8 block text-neutral-500" />
					<span>Parroquias</span>
				</h2>
			</header>
			<ViewParishes client:load />
		</section>
	</main>
</Layout>
