---
import Layout from "@/layouts/Layout.astro";
import { ViewParishes } from "@/components/react/ViewParishes";
import FormParish from "@/sections/FormParish.astro";
---

<Layout
	title="Parroquias | Comunidad"
	description="Gestión de parroquias en la plataforma de comunidades."
>
	<main class="main-grid">
		<FormParish />
		<section class="card-section" transition:name="section-view">
			<header>
				<h2 class="text-2xl font-semibold mb-4">Parroquias</h2>
			</header>
			<ViewParishes client:load />
		</section>
	</main>
</Layout>
