---
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="Imprimir Invitados | Comunidad"
  description="Página para imprimir la lista de invitados en la plataforma de comunidades."
  print
>
  <main class="">
    <h1>Imprimir Invitados</h1>
    <!-- Aquí puedes agregar el contenido específico para imprimir la lista de invitados -->
  </main>
</Layout>
