---
import ModalDesign from "./ModalDesign.astro";
---

<ModalDesign id={"modal-message"}>
  <h3 class="title-message text-2xl font-bold mb-3"></h3>
  <p class="text-message"></p>
  <div class="flex items-center gap-2 mt-4 w-full">
    <button class="btn btn-secondary btn-cancel w-full">Cancelar</button>
    <button class="btn btn-primary btn-accept w-full">Aceptar</button>
  </div>
</ModalDesign>

<style>
  .show {
    display: flex;
    opacity: 1;
    overflow: visible;
  }
</style>
