---
interface Props {
  id?: string;
}
const { id } = Astro.props;
---

<div
  id={id}
  class="modal-overlay fixed inset-0 z-90 bg-black/60 items-center justify-center backdrop-blur-xs hidden transition-opacity duration-300 opacity-0"
>
  <div
    class="bg-white max-w-200 mx-auto rounded-lg shadow-lg p-8 flex flex-col items-center"
  >
    <slot />
  </div>
</div>

<style>
  .show {
    display: flex;
    opacity: 1;
    overflow: visible;
  }
</style>
