---
import type { CommunityWithBrotherCount } from "@/types/communities";
import { FusionCommunity } from "@/components/react/FusionCommunity";
import { actions } from "astro:actions";

const { parishId } = Astro.props;

let communities: CommunityWithBrotherCount[] = [];

try {
  const { data, error } = await Astro.callAction(actions.getCommunities, {
    parishId: Number(parishId),
  });
  if (error || !data.success) {
    throw new Error(
      error?.message || data?.message || "Error al obtener comunidades",
    );
  } else {
    communities = data.data;
  }
} catch (error) {
  console.error(`Error fetching communities for parish ${parishId}:`, error);
}
---

<section class="card-section">
  <form action="" class="design-form" id="form-fusion-community">
    <input type="hidden" name="parish-id-in-fusion" value={parishId} />
    <fieldset class="flex flex-col gap-4">
      <legend>Fusionar comunidades</legend>
      <FusionCommunity client:load parishId={parishId} />
    </fieldset>
  </form>
</section>

<script>
  import { showNotification } from "@/scripts/notification";
  import { $id } from "@/utils/getElements";
  import { actions } from "astro:actions";

  document.addEventListener("astro:page-load", () => {
    const form = $id("form-fusion-community") as HTMLFormElement;

    form.addEventListener("submit", async (e) => {
      e.preventDefault();
      const formData = new FormData(form);
      // obtener todos los check seleccionados
      const parishId = formData.get("parish-id-in-fusion") as string;
      const selectedCommunities = formData.getAll(
        "fusion-communities",
      ) as string[];
      const firstCommunityId = formData.get("first-community-id") as
        | string
        | null;
      if (selectedCommunities.length < 2) {
        showNotification(
          "Selecciona al menos dos comunidades para fusionar.",
          "error",
        );
        return;
      }
      if (selectedCommunities.length > 2) {
        showNotification(
          "Solo se pueden fusionar dos comunidades a la vez.",
          "error",
        );
        return;
      }
      let comunitiesIds: number[];

      if (firstCommunityId && selectedCommunities.includes(firstCommunityId)) {
        comunitiesIds = [
          Number(firstCommunityId),
          ...selectedCommunities
            .filter((id) => id !== firstCommunityId)
            .map((id) => Number(id)),
        ];
      } else {
        // Fallback por si no se pudo determinar el primero
        comunitiesIds = selectedCommunities.map((id) => Number(id));
      }

      try {
        const { data, error } = await actions.mergeCommunities({
          parishId: Number(parishId),
          communityIds: comunitiesIds,
        });

        if (!data?.success || error) {
          showNotification(
            data?.message || error?.message || "Algo salio mal",
            "error",
          );
          return;
        }
        showNotification(data.message, "success");
        window.dispatchEvent(new Event("communities:updated"));
        form.reset();
      } catch (error) {
        showNotification("Error al fusionar comunidades.", "error");
        return;
      }
      showNotification("Funcionalidad en desarrollo", "info");
    });
  });
</script>
