---
import { IfCatechistInput } from "@/components/react/IfCatechistInput";
import CivilIndicator from "@/components/CivilIndicator.astro";
import RolesBrotherChecks from "@/components/RolesBrotherChecks.astro";
const { communityId } = Astro.props;
---

<section
  class="card-section h-min"
  transition:name="section-form"
  style="grid-area: form;"
>
  <form action="" id="form-brother" class="design-form space-y-2">
    <input type="hidden" name="community-id" value={communityId} />
    <fieldset class="space-y-2">
      <legend>Datos personales</legend>
      <!-- estado civil -->
      <div class="container-civil-status">
        <h3 class="mb-1">Estado civil:</h3>
        <div class="wrapper">
          <div
            class="ratios-row flex items-center rounded-full bg-neutral-100 border-2 border-neutral-300 relative"
          >
            <div class="ss">
              <input
                type="radio"
                name="civil-status"
                id="ratio-matrimonio"
                value="matrimonio"
                class="checks-btns"
                data-index="0"
              />
              <label for="ratio-matrimonio" class="radio-label"
                >Matrimonio</label
              >
            </div>
            <div class="ss">
              <input
                type="radio"
                name="civil-status"
                id="ratio-soltero"
                value="soltero"
                class="checks-btns"
                checked
                data-index="1"
              />
              <label for="ratio-soltero" class="radio-label">Soltero</label>
            </div>
            <div class="ss">
              <input
                type="radio"
                name="civil-status"
                id="ratio-soltera"
                class="checks-btns"
                value="soltera"
                data-index="2"
              />
              <label for="ratio-soltera" class="radio-label">Soltera</label>
            </div>

            <!-- indicador personalizado -->
            <CivilIndicator />
          </div>
        </div>
      </div>

      <!-- nombres -->
      <!-- si es matrimonio renderizamos uno -->
      <div class="container-info-married mb-1 animate-entry">
        <div class="flex flex-col gap-2">
          <div class="content-data-husband flex items-center gap-2">
            <div class="content-input">
              <label for="names-husband">Nombres: (Esposo)</label>
              <input
                type="text"
                name="names-husband"
                id="names-husband"
                autocomplete="off"
                placeholder="Alfredo Bermeo"
              />
            </div>
            <div class="content-input">
              <label for="phone-husband">Teléfono:</label>
              <input
                type="tel"
                name="phone-husband"
                id="phone-husband"
                autocomplete="off"
                placeholder="099..."
              />
            </div>
          </div>
          <div class="content-data-wife flex items-center gap-2">
            <div class="content-input">
              <label for="names-wife">Nombres: (Esposa)</label>
              <input
                type="text"
                name="names-wife"
                id="names-wife"
                autocomplete="off"
                placeholder="Marcela Barros"
              />
            </div>
            <div class="content-input">
              <label for="phone-wife">Teléfono:</label>
              <input
                type="tel"
                name="phone-wife"
                id="phone-wife"
                autocomplete="off"
                placeholder="099..."
              />
            </div>
          </div>
        </div>
      </div>
      <!-- si no es matrimonio renderizamos otro -->
      <div class="container-info-single mb-1 animate-entry">
        <div class="flex flex-col gap-2">
          <div class="content-input">
            <label for="name-bro">Nombres:</label>
            <input
              type="text"
              name="name-bro"
              id="name-bro"
              autocomplete="off"
              placeholder="Alfredo Bermeo"
            />
          </div>
          <div class="content-input">
            <label for="phone-bro">Teléfono:</label>
            <input
              type="tel"
              name="phone-bro"
              id="phone-bro"
              autocomplete="off"
              placeholder="099..."
            />
          </div>
        </div>
      </div>
      <!-- roles -->
    </fieldset>

    <!-- roles -->
    <fieldset class="fieldset-roles">
      <legend>Roles en Comunidad</legend>
      <RolesBrotherChecks />
    </fieldset>

    <!-- si es catequista -->
    <fieldset class="fieldset-catequistas animate-entry">
      <legend>Catequistas</legend>
      <IfCatechistInput client:visible />
    </fieldset>

    <div class="content-actions">
      <button type="reset" class="btn btn-secondary w-full">Resetear</button>
      <button type="submit" class="btn btn-primary w-full">Agregar</button>
    </div>
  </form>
</section>

<style>
  .ss {
    position: relative;
    z-index: 10;
    width: 100%;

    & label {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 0.4rem 0;
      transition: font-weight 200ms ease;
    }

    & input {
      position: absolute;
      inset: 0;
      opacity: 0;
    }

    &:has(input:checked) label {
      font-weight: 600;
    }
  }

  /* dinamic input names */
  .container-civil-status:has(input[value="matrimonio"]:checked) {
    & ~ .container-info-married {
      display: block;
    }
    & ~ .container-info-single {
      display: none;
    }
  }

  .container-civil-status:has(input[value="soltero"]:checked),
  .container-civil-status:has(input[value="soltera"]:checked) {
    & ~ .container-info-married {
      display: none;
    }
    & ~ .container-info-single {
      display: block;
    }
  }

  /* dinamic input select roles */
  .fieldset-catequistas {
    display: none;
  }

  .fieldset-roles:has(input[value="catequista"]:checked) {
    & ~ .fieldset-catequistas {
      display: block;
    }
  }

  /* animcion de entrada */
  .animate-entry {
    animation: entryAnimation 300ms ease forwards;
    opacity: 0;
    transform: translateY(20px);
  }

  @keyframes entryAnimation {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>

<script>
  import { showNotification } from "@/scripts/notification";
  import { $$, $id } from "@/utils/getElements";
  import { actions } from "astro:actions";

  document.addEventListener("astro:page-load", () => {
    const form = $id("form-brother") as HTMLFormElement;

    // form submit
    form.addEventListener("submit", async (e) => {
      e.preventDefault();

      const formData = new FormData(form);
      const civilStatus = formData.get("civil-status") as string;

      if (civilStatus === "matrimonio") {
        // logica para cuando trabaje con matrimonios
        showNotification("Registro de matrimonios aún no implementado", "info");
        return;
      }

      // logica para solteros/as
      const names = formData.get("name-bro") as string;
      const phone = formData.get("phone-bro") as string;
      const communityId = formData.get("community-id") as string;

      const rolesPrinciapeles = formData.get("roles-principals");
      const rolesSupport = formData.getAll("roles-support").filter(Boolean);
      const roles: string[] = [];

      if (rolesPrinciapeles) {
        roles.push(rolesPrinciapeles as string);
      }
      rolesSupport.forEach((role) => roles.push(role as string));

      const infoPost: {
        names: string;
        // es enum
        civil_status: "matrimonio" | "soltero" | "soltera";
        community_id: number;
        phone: string | null;
        roles: string[];
      } = {
        names,
        civil_status: civilStatus as "matrimonio" | "soltero" | "soltera",
        community_id: Number(communityId),
        phone: phone ? phone : null,
        roles,
      };

      // aqui hacemos el post al action
      try {
        const { data, error } = await actions.postBrother({ ...infoPost });
        if (error || !data.success) {
          showNotification(
            data?.message || error?.message || "error en algo",
            "error",
          );
          return;
        }
        showNotification(data.message, "success");
        form.reset();
        window.dispatchEvent(new Event("brothers:updated"));
      } catch (error) {
        console.error("Error en la solicitud:", error);
        showNotification("Error en la solicitud", "error");
      }
    });
  });
</script>
