---
import Logo from "@/assets/Logo.astro";
const {
  description = "En este sitio puedes gestionar las parroquias y sus comunidades.",
} = Astro.props;
---

<header
  class="flex items-center gap-2 justify-center no-print"
  transition:name="header-page"
>
  <div class="logo">
    <Logo class="svg-camino w-full h-auto max-w-24 align-middle mr-2" />
  </div>
  <div class="ss">
    <h1 class="text-5xl font-bold">Camino Neocatecumenal</h1>
    <p class="text-neutral-500">{description}</p>
  </div>
</header>
