---
import { ListInvited } from "@/components/react/ListInvited";
import { ListConfirmed } from "@/components/react/ListConfirmed";
import PrintIcon from "@/icons/PrintIcon.astro";
---

<section class="card-section" style="grid-area: details;">
  <div class="grid grid-cols-2 gap-4">
    <header class="col-span-2">
      <h2 class="text-2xl font-semibold">
        Gestión de Hermanos para la convivencia
      </h2>
    </header>
    <article class="flex flex-col gap-4">
      <!-- <InvitedBrother /> -->
    </article>
    <article class="flex flex-col gap-4">
      <h3>Confirmados</h3>
      <ListConfirmed client:load />
      <div class="btns inline-block">
        <button class="btn btn-primary flex items-center zgap-2">
          <PrintIcon class="size-4 block" />
          <span>Imprimir</span>
        </button>
      </div>
    </article>
  </div>
</section>
