---
import { ListInvited } from "@/components/react/ListInvited";
import { ListConfirmed } from "@/components/react/ListConfirmed";
---

<section class="card-section" style="grid-area: details;">
  <div class="grid grid-cols-2 gap-4">
    <header class="col-span-2">
      <h2 class="text-2xl font-semibold">
        Gestión de Hermanos para la convivencia
      </h2>
    </header>
    <article>
      <h3>Invitados</h3>
      <ListInvited client:load />
    </article>
    <article>
      <h3>Confirmados</h3>
      <ListConfirmed client:load />
    </article>
  </div>
</section>
