---
import LogoCaminoIcon from "./Logo.astro";
---

<div
  class="fixed inset-0 -z-30 flex items-center justify-center pointer-events-none opacity-3"
>
  <LogoCaminoIcon class="w-full aspect-square max-w-150" />
</div>
