---
import "../styles/global.css";
import NotificationMessage from "@/components/NotificationMessage.astro";
import ModalMessage from "@/components/ModalMessage.astro";
import HeaderPage from "@/sections/HeaderPage.astro";
import { NavbarPage } from "@/sections/react/NavbarPage";
import { ClientRouter } from "astro:transitions";

interface Props {
  title?: string;
  description?: string;
  print?: boolean;
}
const {
  title = "Astro",
  description = "Welcome to Astro!",
  print = false,
}: Props = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <ClientRouter />
  </head>
  <body class={print ? "print" : ""}>
    <NotificationMessage />
    <ModalMessage />
    <div class="flex flex-col gap-6">
      <HeaderPage />
      <NavbarPage
        client:load
        transition:name="navbar-page"
        transition:persist
      />
      <slot />
    </div>
  </body>
</html>
<style>
  @media print {
    body.print {
      margin: 0;
      padding: 0;
      box-shadow: none;
      background-color: white;
    }
  }
</style>
