---
import WaterMark from "@/assets/WaterMark.astro";
import "../styles/global.css";

interface Props {
  title?: string;
  description?: string;
}
const { title = "Astro", description = "Welcome to Astro!" }: Props =
  Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body class="print relative">
    <WaterMark />
    <slot />
  </body>
</html>
